* {
  box-sizing: border-box;
}

body {
  background-image: url("img/bluepar.jpg");
  font-family: 'Audiowide', sans-serif;
  font-weight: 300;
  margin: 0;
}

.general-container{ 
padding-top: 50px; 
}


#page-header {  
  height: 130px;
  text-align: center;
  margin-top: 25px;
}

#page-header a {
  font-family: 'Audiowide', cursive;
  text-decoration: bold;
  padding-right: 15px;
  padding-left: 30px;
  color: black;
}

#page-header h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Audiowide', cursive;
    text-decoration: bold;
    color: white;
    margin: 0;
    padding-bottom: 15px;
    
}

.navbox{
  
}

#page-header .navbox a{
  color: white; 
  font-size: 15px;
}

footer {
  color: white;
  padding: 2% 3%;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

.class {
  background: red;
  text-align: center;
}

h2{
  color: white;
  text-align: center;
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: 26px;
}

p{
  color: white;
  text-align: center;
  font-family: 'Audiowide', cursive;  
  padding-top: 8px;
  padding-bottom: 15px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

}

.about-one{
  height: 100px;
}

.try{
  background: black;
  height: 35px;
  color: white;
}

.try p{
  padding-bottom: 5px;
}

.planner p{
  background: black;
  margin: 0;
}


h3{ 
  background: black;
  color: white;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 26px;
  margin-bottom: 0;
  padding-top: 10px;


 }

#wrapper h3{
  font-size: 22px;

}


.images{
  text-align: center;
  padding-bottom: 10px;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 55px;

}

img{
  height: 160px;

}

.input-list{
    background: black;
    color: white;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
   
}

.wrapper h3{
  text-align: left;

}

ul {
  font-family: "Audiowide", Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  flex: 1;
  border: 5px solid white;
}

ul li {
  border-bottom: 5px solid white;
}

input {
  width: 400px;
  font-family: "Audiowide";
  font-size: 20px;
  margin: 20px 0;
  border: 1px solid #9CE6C1;
  box-shadow: none;
  padding: 10px;
}

button {
  width: 250px;
  font-family: "Audiowide";
  font-size: 20px;
  margin: 20px 0;
  border: 1px solid #9CE6C1;
  box-shadow: none;
  padding: 10px;
  background: linear-gradient(309deg, #333333, #dd1818);
  color: white ;
  margin-left: 50px;
}

#list{
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  margin-bottom: 0;
}

.list-submit{
  color: white;
  margin: 0;
  text-align: center;
  padding-bottom: 50px;
}



#return{
  text-align: center;
  width: 250px;
  font-family: "Audiowide";
  font-size: 20px;
  margin: 20px 0;
  border: 1px solid #9CE6C1;
  box-shadow: none;
  padding: 10px;
  background: linear-gradient(309deg, #333333, #dd1818);
  color: white ;
  margin-left: 50px;

}



h4{
  text-align: center;
  background: -webkit-linear-gradient(#333333, #dd1818);
  font-size: 65px;
  font-family: "Audiowide";
}

#clear{
  text-align: center;
}

#clear p{
  justify-content: center;
  color: white;

}



.container{
  height: 240px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(309deg, #333333, #dd1818);
  border-style: solid;
  border-width: 5px;
  border-color: white;
  margin-top: 32px;
}

.wheelbox{

}

.wheel{
  border-radius: 50%;
  height: 100px;
  position: absolute;
  width: 100px;
  /*background: #000;*/
}
.wheel:after{
  background: repeat scroll 0 0 linear-gradient(309deg, #333333, #dd1818);
  border-radius: 36px;
  content: "";
  height: 60px;
  width: 60px;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px;
  position: absolute;
  top: 50%;
  z-index: 3;
}
.wheel.one {
  left: 10px;
  top: 12px;
}
.wheel.two {
  left: 119px;
  top: 44px;
}
.wheel.three {
  left: 200px;
  top: 122px;
}

.wheel-inner {
  animation-iteration-count: infinite;
  background: none repeat scroll 0 0 white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
}
.wheel-inner .bar {
  background: none repeat scroll 0 0 white;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 25px;
  left: 50%;
  margin-left: -60px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 120px;
}
.wheel-inner .bar:nth-child(2) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.wheel-inner .bar:nth-child(3) {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.wheel.one .wheel-inner, .wheel.three .wheel-inner {
  -webkit-animation: clockwise 5s linear infinite;
}
.wheel.two .wheel-inner {
  -webkit-animation: anticlockwise 5s linear infinite;
}




